@model AIS.ViewModels.MyContractViewModel;



<h2>Добавление договора</h2>
<form asp-antiforgery="true"  asp-action="createcontract" asp-controller="process" method="post" enctype="multipart/form-data" id="formContract">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="container">

         <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Тип госрегулирования" asp-for="TypeOfStateRegId" asp-items="@Model.TypeOfStateRegs" id="TypeOfStateRegId" onchange="change()">
                </select>
            </div>
            <div class="col-7"><span asp-validation-for="TypeOfStateRegId"></span></div>
        </div>

        <div class="row" id="articleoflaw" style="display: none">
            <div class="col-5 mb-3">
                <select class="form-select" size="2"  data-placeholder="Статья закона" asp-for="ArticleOfLawId" asp-items="@Model.ArticleOfLaws" id="ArticleOfLawId">
                </select>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Шаблон договора" asp-for="ContractTemplateId" asp-items="@Model.ContractTemplates" id="ContractTemplateId">
                </select>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Место заключения договора" aria-label="Место заключения договора" asp-for="PlaceOfContract" id="PlaceOfContract">
                </div>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Заказчик или исполнитель" asp-for="IsCustomer" id="IsCustomer">
                    <option selected value ="true">Заказчик</option>
                    <option value="false">Исполнитель</option>
                </select>
            </div>
            <div class="col-7"></div>
        </div>
                <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Контрагент" asp-for="PartnerId" asp-items="@Model.MyPartners" id="PartnerId">
                </select>
            </div>
            <div class="col-7"><span asp-validation-for="PartnerId"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Номер контракта" aria-label="Номер контракта" asp-for="NumberOfContract" id="NumberOfContract">
                </div>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" placeholder="Дата подписания" aria-label="Дата подписания" asp-for="DateStart" id="DateStart">
                </div>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" placeholder="Дата окончания" aria-label="Дата окончания" asp-for="DateEnd" id="DateEnd">
                </div>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Предмет контракта" aria-label="Предмет контракта" asp-for="SubjectOfContract" id="SubjectOfContract">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="SubjectOfContract"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Цена контракта" aria-label="Цена контракта" asp-for="Cost" step="0.01" id="Cost" />
                </div>
            </div>
            <div class="col-7"></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Статус договора" asp-for="MyContractStatusId" asp-items="@Model.MyContractStatuses" id="MyContractStatusId">
                <option selected disabled>Статус договора</option>
                </select>
            </div>
            <div class="col-7"></div>
        </div>

    <div class="container overflow-hidden">
        <div class="input-group-lg mb-3" id="parentId">
        </div>
    </div>

    <button type="button" class="btn btn-success" onclick="return ConstructContract()">Заполнить договор</button>
    <button type="button" class="btn btn-success" onclick="return addField()">Добавить вложение</button>

        <div class="row">
            <div class="col-12 mb-3"></div>
        </div>

        <div class="container overflow-hidden">
            <div class="input-group-lg mb-3 pb-10" id="projectDocumentLink">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" value="Отправить" />
            </div>
        </div>
        <div class="col-7"></div>
    </div>
</form>

@section scripts{
    <script asp-src-include="~/js/DocumentConstructor.js"></script>
    <script asp-src-include="~/js/Enclosures.js"></script>
    <script asp-src-include="~/js/select.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
