@model IEnumerable<Core.Contract>
@{
    ViewData["Title"] = "Договоры";
}

<h2>Реестр договоров</h2>

<div class="row">
    <div class="col-3 mb-3">
        <p><a asp-action="CreateContract">Добавить договор</a></p>
    </div>
    <div class="col-3">
        <p><a asp-action="ContractsArchive">Архив</a></p>
    </div>
    <div class="col-6"></div>
</div>

<table class="table table-sm table-hover table-condensed" id="currentTable">
    <tr><th>Номер</th><th>Дата подписания</th><th>Дата окончания</th><th onclick="sortTable(0)">Контрагент</th><th onclick="sortTable(1)">Предмет</th><th onclick="sortTable(2)">Цена</th><th onclick="sortTable(3)">Статус</th></tr>
    <tr class="table-filters">
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="table-data">
                <td>@item.NumberOfContract</td>
                <td>@item.DateStart</td>
                <td>@item.DateEnd</td>
                <td>
                    @if(item.PartnerOrganization is not null && item.PartnerOrganization.Name is not null) @item.PartnerOrganization.Name
                </td>
                <td>@item.SubjectOfContract</td>
                <td>@item.Cost</td>
                <td>
                    @if (item.MyContractStatus is not null && item.MyContractStatus.Name is not null)
                    @item.MyContractStatus.Name
                </td>
            <td align="right">
                <a class="btn btn-outline-primary" role="button" asp-action="EditContract" asp-controller="process" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td align="left">
                <form asp-controller="process" asp-action="DeleteContract" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" class="btn btn-outline-danger" />
                </form>
            </td>
        </tr>
    }
</table>

@section scripts{
    <script asp-src-include="~/js/tables.js"></script>
}