@model IEnumerable<Core.Partner>
@{
    ViewData["Title"] = "Контрагенты";
}

<h2>Список контрагентов</h2>
<p><a asp-action="CreatePartner">Добавить контрагента</a></p>
<table class="table table-sm table-hover table-condensed" id="currentTable">
    <tr><th onclick="sortTable(0)">Наименование</th><th onclick="sortTable(1)">Адрес</th><th>Email</th><th>Телефон</th><th onclick="sortTable(2)">Тип</th><th>ОГРН</th></tr>
    <tr class="table-filters">
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="table-data" onclick="myFunction(@item.Id)">
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.PartnerType.Name</td>
                <td>@item.OGRN</td>
            <td align="right">
                <a class="btn btn-outline-primary" role="button" asp-action="EditPartner" asp-controller="process" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td align="left">
                <form asp-controller="process" asp-action="DeletePartner" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" class="btn btn-outline-danger"/>
                </form>
            </td>
        </tr>
    }
</table>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-lg modal-dialog-centered"></div>
</div>

@section scripts{
<script>
        async function myFunction(partnerId) {
            let url = '/Process/PartnerCard/' + partnerId;
            let response = await fetch(url);
            if (response.ok) {
                let data = await response.text();
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            }
            else {
                alert("Ошибка HTTP: " + response.status);
            }

        }
</script>
    <script asp-src-include="~/js/tables.js"></script>
    <script asp-src-include="~/js/subTasks.js"></script>
}
