@model Core.Partner;

<div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body">

<h2>Карточка контрагента</h2>
<div class="container">

    <div class="row">
        <div class="col-4"><p>Наименование(ФИО):</p></div>
        <div class="col-8 mb-3">
            <p>@Model.Name</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4"><p>Краткое наименование:</p></div>
        <div class="col-8 mb-3">
            <p>@Model.ShortName</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><p>Адрес:</p></div>
        <div class="col-8 mb-3">
            <p>@Model.Address</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><p>Номер телефона:</p></div>
        <div class="col-8 mb-3">
            <p>@Model.PhoneNumber</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><p>Email:</p></div>
        <div class="col-8 mb-3">
            <p>Email: @Model.Email</p>
        </div>
    </div>

    @if (Model.INN is not null)
    {
        <div class="row">
            <div class="col-4"><p>ИНН:</p></div>
            <div class="col-8 mb-3">
                <p>ИНН: @Model.INN</p>
            </div>
        </div>
    }

    @if (Model.KPP is not null)
    {
        <div class="row">
             <div class="col-4"><p>КПП:</p></div>
            <div class="col-8 mb-3">
                <p>КПП: @Model.KPP</p>
            </div>
        </div>
    }

    @if (Model.OGRN is not null)
    {
        <div class="row">
            <div class="col-4"><p>ОГРН:</p></div>
            <div class="col-8 mb-3">
                <p>ОГРН: @Model.OGRN</p>
            </div>
        </div>
    }

    @if (Model.Account is not null)
    {
        <div class="row">
            <div class="col-4"><p>р/с:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.Account</p>
            </div>
        </div>
    }

    @if (Model.CorrespondentAccount is not null)
    {
        <div class="row">
            <div class="col-4"><p>к/с:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.CorrespondentAccount</p>
            </div>
        </div>
    }

    @if (Model.Bank is not null)
    {
        <div class="row">
            <div class="col-4"><p>Банк:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.Bank</p>
            </div>
        </div>
    }

    @if (Model.BIK is not null)
    {
        <div class="row">
            <div class="col-4"><p>БИК:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.BIK</p>
            </div>
        </div>
    }

    @if (Model.DirectorName is not null)
    {
        <div class="row">
            <div class="col-4"><p>ФИО руководителя:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.DirectorName</p>
            </div>
        </div>
    }

    @if (Model.PassportNumber is not null && Model.PassportSeries is not null)
    {
        <div class="row">
            <div class="col-4"><p>Паспорт:</p></div>
            <div class="col-8 mb-3">
                <p>Серия: @Model.PassportNumber Номер: @Model.PassportSeries</p>
            </div>
        </div>
    }

    @if (Model.PassportDateOfIssue is not null)
    {
        <div class="row">
            <div class="col-4"><p>Дата выдачи:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.PassportDateOfIssue</p>
            </div>
        </div>
    }

    @if (Model.PassportPlaseOfIssue is not null)
    {
        <div class="row">
            <div class="col-4"><p>Место выдачи:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.PassportPlaseOfIssue</p>
            </div>
        </div>
    }

    @if (Model.PassportDivisionCode is not null)
    {
        <div class="row">
            <div class="col-4"><p>Код подразделения:</p></div>
            <div class="col-8 mb-3">
                <p>@Model.PassportDivisionCode</p>
            </div>
        </div>
    }
</div>

        <div class="row">
            <div class="col-12 mb-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-secondary" data-dismiss="modal" area-hidden="true">Закрыть</button>
                </div>
            </div>
        </div>

</div>
</div>
