@model AIS.ViewModels.DocumentsViewModels.RootTemplateViewModel;

<h2>Редактирование корневого шаблона документа</h2>
<form asp-action="editRoottemplate" asp-controller="documents" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
<div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="container">

        <div class="row">
            <div class="col-5 mb-3">
                <select class="form-select" size="2" data-placeholder="Тип документа" id="TypeOfDocumentId" asp-for="TypeOfDocumentId" asp-items="@Model.TypesOfDocument">
                </select>
            </div>
            <div class="col-7"><span asp-validation-for="TypeOfDocumentId"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Имя шаблона" aria-label="Имя шаблона" asp-for="Name">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Name"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Описание" aria-label="Описание" asp-for="Description">
                </div>
            </div>
            <div class="col-7"><span asp-validation-for="Description"></span></div>
        </div>

        <div class="row">
            <div class="col-5 mb-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <div>
                        <a class="btn btn-secondary" role="button" asp-action="RootTemplates" asp-controller="documents">Отмена</a>
                    </div>
                    <div class="col-1"></div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Отправить" />
                    </div>
                </div>
            </div>
            <div class="col-7"></div>
        </div>

    </div>



</form>
  <style>
   .line {
        border-bottom: 1px solid #d3d3d3; /* Параметры линии */
   }
   </style>
<div class="line col-12"></div>
<h2>Шаблоны документов</h2>

<table class="table table-sm table-hover" id="currentTable">
    <tr><th onclick="sortTable(0)">Имя</th><th onclick="sortTable(1)">Описание</th></tr>
    <tr class="table-filters">
        <td>
            <input type="text" id="tableFilter" />
        </td>
        <td>
            <input type="text" id="tableFilter" />
        </td>
    </tr>

    @foreach (var item in Model.DocumentTemplates)
    {
        <tr class="table-data">
            <td>
                @if (item.Name != null) @item.Name
            </td>
            <td>
                @if (item.Description != null) @item.Description
            </td>
            <td align="right">
                    <a class="btn btn-outline-primary" role="button" asp-action="EditDocumentTemplate" asp-controller="Documents" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td align="left">
                <form asp-controller="documents" asp-action="DeleteDocumentTemplate" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" class="btn btn-outline-danger" />
                </form>
            </td>
        </tr>
    }
</table>




<a class="btn btn-outline-primary" role="button" asp-action="CreateDocumentTemplate" asp-controller="documents" asp-route-id="@Model.Id">Добавить</a>

@section scripts{

<script asp-src-include="~/js/tables.js"></script>
<script asp-src-include="~/js/select.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}




    